<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        li{
            background: #ccc;
            cursor: pointer;
        }
        .red{
            background: red;
        }
    </style>
</head>
<body>
    <div id="div1">
            <input type="number" v-model="num" @keyup.13="add">
            <ul>
                <li v-for="item in list" @click="change(item)" :class="{'red':item.isRed == true}" >
                    <input type="checkbox" v-model="item.isRed" @click="change(item)"/>{{item.name}}--{{item.sell}}
                </li>
            </ul>
            <span>总价：{{sum}}</span>
    </div>
    <script src="vue.js"></script>
    <script>
    new Vue({
        el:'#div1',
        data:{
            num:0,
            price:0,
            sum:0,
            list: [
                {
                    name: "衣服",
                    sell:121,
                    isRed:false
                },{
                    name: "鞋",
                    sell:90,
                    isRed:false
                },{
                    name: "衬衫",
                    sell:100,
                    isRed:false
                }
            ]
        },
        methods:{
            add(){
                this.price = parseInt(this.num);
                this.list.push({
                    name:"",
                    sell:this.num,
                    isRed:false
                });
            },
            change(item){
                item.isRed=!item.isRed;
                if(item.isRed){
                    this.sum+=parseInt(item.sell);
                }else{
                    this.sum-=parseInt(item.sell);
                }

            }
        }
    })
    </script>
</body>
</html>