<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        li{
            background: #ccc;
            cursor: pointer;
            list-style: none;
            height: 30px;
            line-height: 30px;
            margin-bottom: 5px;
        }
        #div1{
            padding: 20px;
            width: 50%;
        }
        .red{
            background: red;
        }
        .none{
            display: none;
        }
    </style>
</head>
<body>
    <div id="div1">
            <button @click="checkAll">全选</button>
            <input type="text" v-model.trim="num" @keyup.13="add">
            <button @click="del">删除</button><br>
            <input type="text" v-model="find" @keyup="search" @focus="find" placeholder="请输入搜索关键字">
            <ul>
                <li v-for="(item,index) in list" @click="change(item)" :class="{'red':item.isRed}" >
                    <input type="checkbox" @click.stop="" v-model="checked" :value="index"/>{{item.name}}--{{item.sell}}
                </li>
            </ul>
            <span>总价：{{sum}}</span>
    </div>
    <script src="vue.js"></script>
    <script>
    new Vue({
        el:'#div1',
        find:'',
        data:{
            num:0,
            price:0,
            sum:0,
            list: [
                {
                    name: "衣服",
                    sell:121,
                    isRed:false,
                },{
                    name: "鞋",
                    sell:90,
                    isRed:false,
                },{
                    name: "衬衫",
                    sell:100,
                    isRed:false,
                }
            ],
            checked:[]
        },
        methods:{
            add(){
                this.price = parseInt(this.num.split(" ")[1]);
                this.list.push({
                    name:this.num.split(" ")[0],
                    sell:this.price,
                    isRed:false
                });
            },
            change(item){
                item.isRed=!item.isRed;
                if(item.isRed){
                    this.sum+=parseInt(item.sell);
                }else{
                    this.sum-=parseInt(item.sell);
                };
            },
            del(){
                this.list=this.list.filter((val,index)=>{
                    //删除前判断价格是否已经被统计，是则删除的同时减去要删除的价格
                    if(this.checked.includes(index) && val.isRed){
                        this.sum-=parseInt(val.sell);
                    };
                    if(!this.checked.includes(index)){
                        return val;
                    }
                });
                this.checked=[];
            },
            checkAll(){
               this.list.forEach((val,index)=>{
                   val.checked="true";
               });
            },
            search(){
                this.list.forEach((val,index)=>{
                    if(val.name.includes(this.find)){
                        val.isRed="true";
                    }
                })
            },
            find(){
                if(this.find ==""){
                    this.list.forEach((val,index)=>{
                        val.isRed="false";
                    })
                }
            }
        }
    })
    </script>
</body>
</html>